body{
    font-family: 'Pangolin', cursive;
    font-family: 'Indie Flower', cursive;
    background-color: #F7E4C5;
 }
img.responsive{
    width: 100%;
    height: auto;
    display: block
}
.menu{
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style:none;
}
.menu-item{
  line-height: 50px  
}
a{
    text-decoration: none;
    color: #333;
}
button{
    background: none;
    border: 1px solid #696969;
    border-radius: 3px;
    padding: 10px;
    margin: 1em auto;
}
.logo{
    height: 100px;
    border: solid 1px #0D0B1B;
}
.drop-down{
    position: relative
}
.drop-down ul{
    position: absolute;
    bottom 0;
    display: none;
    list-style: none;
    background: #38925E;
    padding-left: 0;
}
.drop-down ul li{
    padding: 0 20px;
     transition: all .2s;
}
.drop-down:hover ul{
    display: inline;
}
.drop-down ul li:hover{
    background-color: #F7E4C5
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
}
.title{
    text-align: center;
    margin: 2em 0;
}
.news{
    display: flex;
}
footer{
    padding: 1em 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #38925E;
}
.text{
    height: 300px;
    width: 70%;
}
.news{
    display: flex;
}
.article{
    width: 50%;
    border: solid 1px #0D0B1B;
    margin: 1em
}
.article h3, .article p{
      padding: 0 10px;
}
.article img{
    width: 100%;
    height: auto
}
