body{
    font-family: 'Pangolin', cursive;
	padding-left: 100px;
	padding-right: 100px;
}

h1{
	text-align: center;
}

h2{
    text-align: center;
}

h3{
	padding-left: 50px;
	padding-right: 50px;
}

p{
	font-size:120%;
	padding-left: 80px;
	padding-right: 80px;
}

ul{
    padding-left: 100px;
    padding-right: 100px;
    font-size:120%;
}

footer { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    text-align: center;
    background-color: black;
    padding:5px;
}

footer p{
	color: white;
}

footer p a{
	color:white;
}

article{
    margin:40px;
}

article img{
    max-width: 700px;
    max-height: 700px;
}

img{
    max-width: 900px;
    max-height: 900px;
}

@keyframes example{
    0%{background-color: white; color: black;}
    50%{background-color: black; color: white;}
    100%{background-color: white; color: black;}
}

.div_border{
    border-style: solid;
    margin:10px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.topnavi {
    float: left;
}

.topnavi a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnavi a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    transform: rotateZ(360deg);
    transition: 1s;
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;
transition: 1s}

.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes zoomin{
    from{width: 0; height: 0}
    to{width: 900px; height: 270px;}

}

.zoom{
    animation-name: zoomin;
    animation-duration: 2s;
}