html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  height: 70px;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color: #343a40;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
